.frame-34204-4 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 22px;
  margin-top: 401px;
  min-width: 247px;
}

.gallery-name-1-1 {
  letter-spacing: 0;
  min-height: 22px;
}

.frame-34204-4.frame-34204-3 {
  margin-top: unset;
}

.frame-34204-4.frame-34204-5 {
  margin-top: 330px;
}

.frame-34204-4.frame-34204-6 {
  margin-top: 328px;
}

