.frame-34145,
.frame-34145-1,
.frame-34145-2 {
  align-items: center;
  background-color: var(--black);
  display: flex;
  height: 32px;
  margin-top: 39px;
  min-width: 32px;
  padding: 0 4.0px;
}

.collections-2,
.collections-3,
.collections-4 {
  height: 24px;
  width: 24px;
}

