.frame-34206 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 12px;
  display: flex;
  height: 293px;
  margin-left: 148px;
  margin-top: 137px;
  min-width: 293px;
  padding: 17.8px;
}

.gallery-name-1-2 {
  letter-spacing: 0;
  min-height: 22px;
}

.frame-34206.frame-34211 {
  margin-left: unset;
  margin-top: unset;
}

.frame-34206.frame-34206-1 {
  left: 144px;
  margin-left: unset;
  margin-top: unset;
  position: absolute;
  top: 137px;
}

